@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      #373E44,
      #191B1F 50%)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button-next,
.button-prev {
  box-shadow: -0.4rem -0.4rem 1rem #96bee762, 0.4rem 0.4rem 1rem #101213;
  @apply !w-[3rem] !h-[3rem] rounded-full bg-gradient-to-r from-[#303439] to-[#161718]
}